@import url(https://fonts.googleapis.com/css?family=Questrial);
@import url(https://fonts.googleapis.com/css?family=Muli:400,300);
* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

body{
  font-family: 'Muli', sans-serif;
}
.content{
  background-color: #ffffff;
  margin-bottom: 300px;
}

.navbar {
  margin-bottom: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  background: none;
  border: none;
  box-shadow: none;
  display: flex;
  align-items: center;
  height: 100px;
  z-index: 1000; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  transition: all 0.5s ease;
  &.shrink{
    height: 40px;
    background: #FF512F; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FF512F , #DD2476); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FF512F , #DD2476);
  }
}

#jumbotron {
  color: #ffffff;
  height: 540px;
  padding-top: 250px;
  padding-bottom: 100px;
  position: relative;
  background: #FF512F; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FF512F , #DD2476); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FF512F , #DD2476); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  .bg{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url(/images/bg.png);
    background-size: contain;
    background-position: center center;
    animation: move 500s linear infinite;
  }
}

h1{
  font-family: 'Questrial', sans-serif;
  font-weight: 100;
}

.ix-menu{
  margin-top: 5px;
}
a{
  &.fancy{
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 40px;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 0.5px;
    padding: 14px 5px;
    border-bottom: 2px solid transparent;
    transition: all 0.2s ease;
    text-align: center;
    &:hover{
      border-bottom: 1px solid #fff;
    }
  }
}

.panel{
  color: #000;
  box-shadow: none;
  margin-bottom: 35px;
  .panel-heading{
    background: none;
    padding: 20px;
    white-space: nowrap;
    h3{
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 30px;
      font-weight: 100;
    }
  }
  .panel-body{
    height: 150px;
  }
  .wrap{
    margin-right: 20px;
  }
  .panel-footer{
    background: none;
    padding: 15px 20px;
  }
}
.section-title{
  text-align: center;
  font-size: 30px;
  margin: 20px 0 60px;
  background-color: #ffffff;
  position: relative;
  .title{
    span{
      background-color: #ffffff;
      position: relative;
      padding: 0 20px;
      z-index: 1;
    }
    &:after{
      content: ' ';
      position: absolute;
      left: 0;
      top: 50%;
      background: #FF512F; /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #FF512F , #DD2476); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #FF512F , #DD2476);
      height: 1px;
      width: 50%;
      left: 25%;
    }
  }
}

#contributors{
  padding-bottom: 30px;
}
.contributor-image {
  border-radius: 50% !important;
  width: 130px;
  margin: 0 auto;
  display: inherit;
  margin-bottom: 30px;
}

@keyframes move {
  0%{
    background-position: center center;
  }
  50%{
    background-position: 3000px center;
  }
  100%{
    background-position: center center;
  }
}
.footer {
  background: none;
  background-color: #F9F9F9;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -1;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  p {
    float: none;
    font-size: 20px;
    margin-bottom: 80px;
    .fa-heart {
      color: #EA355B;
    }
  }
}

@media screen and (max-width: 768px) {
  .navbar{
    .container{
      text-align: center;
      width: 100%;
    }
    &.shrink{
      height: 100px;
    }
    img{
      margin-bottom: 10px;
    }
  }
  a.fancy{
    margin: 0 30px;
  }
}
