@import url(https://fonts.googleapis.com/css?family=Questrial);
@import url(https://fonts.googleapis.com/css?family=Muli:400,300);
* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

body{
  font-family: 'Muli', sans-serif;
}

.navbar {
  margin-bottom: 0;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
  background: none;
  border: none;
  box-shadow: none;
  display: flex;
  align-items: center;
  height: 100px;
  z-index: 1000;
  background: #FF512F; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FF512F , #DD2476); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FF512F , #DD2476); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  transition: all 0.5s ease;
  &.shrink{
    height: 40px;
  }
}

.footer {
  background: none;

  p {
    float: none;

    .fa-heart {
      color: red;
    }
  }
}

#jumbotron {
  color: #ffffff;
  padding-top: 300px;
  padding-bottom: 100px;
  background: #FF512F; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FF512F , #DD2476); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FF512F , #DD2476); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h1{
  font-family: 'Questrial', sans-serif;
  font-weight: 100;
}

.ix-menu{
  margin-top: 5px;
}
a{
  &.fancy{
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 40px;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 0.5px;
    padding: 14px 5px;
    border-bottom: 2px solid transparent;
    transition: all 0.2s ease;
    &:hover{
      border-bottom: 1px solid #fff;
    }
  }
}

.panel{
  color: #000;
  box-shadow: none;
  .panel-heading{
    background: none;
    padding: 20px;
    white-space: nowrap;
    h3{
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 30px;
      font-weight: 100;
    }
  }
  .panel-body{
    height: 150px;
  }
  .wrap{
    margin-right: 20px;
  }
  .panel-footer{
    background: none;
    padding: 15px 20px;
  }
}
.section-title{
  text-align: center;
  font-size: 30px;
  margin: 20px 0 60px;
  background-color: #ffffff;
  position: relative;
  .title{
    span{
      background-color: #ffffff;
      position: relative;
      padding: 0 20px;
      z-index: 1;
    }
    &:after{
      content: ' ';
      position: absolute;
      left: 0;
      top: 50%;
      background: #FF512F; /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #FF512F , #DD2476); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #FF512F , #DD2476);
      height: 1px;
      width: 50%;
      left: 25%;
    }
  }
}
