@import url(https://fonts.googleapis.com/css?family=Questrial);
@import url(https://fonts.googleapis.com/css?family=Muli:400,300);
* {
  border-radius: 0 !important;
}

body{
  font-family: 'Muli', sans-serif;
}
.content{
  background-color: #ffffff;
  margin-bottom: 300px;
}

.opl {
  position: absolute;
  top: 150px;
  left: 0px;
  z-index: 99999;
}
.opl a {
  width: 73px;
  height: 56px;
  text-indent: -9999px;
  display: block;
  background:url('https://s3.amazonaws.com/onepagelove/one-page-love-award-left.png') no-repeat;
}

.navbar {
  margin-bottom: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  background: none;
  border: none;
  box-shadow: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  z-index: 1000; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  &.shrink{
    height: 40px;
    background: #FF512F; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FF512F , #DD2476); /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(left, #FF512F , #DD2476);
    background: linear-gradient(to right, #FF512F , #DD2476);
  }
}

#jumbotron {
  color: #ffffff;
  height: 540px;
  padding-top: 250px;
  padding-bottom: 100px;
  position: relative;
  background: #FF512F; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FF512F , #DD2476); /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(left, #FF512F , #DD2476);
  background: linear-gradient(to right, #FF512F , #DD2476); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  .bg{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url(/images/bg.png);
    background-size: contain;
    background-position: center center;
    -webkit-animation: move 500s linear infinite;
            animation: move 500s linear infinite;
  }
}

h1{
  font-family: 'Questrial', sans-serif;
  font-weight: 100;
}

.ix-menu{
  margin-top: 5px;
}
a{
  &.fancy{
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 40px;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 0.5px;
    padding: 14px 5px;
    border-bottom: 2px solid transparent;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    text-align: center;
    &:hover{
      border-bottom: 1px solid #fff;
    }
  }
}

.panel{
  color: #000;
  box-shadow: none;
  margin-bottom: 35px;
  .panel-heading{
    background: none;
    padding: 20px;
    white-space: nowrap;
    h3{
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 30px;
      font-weight: 100;
    }
  }
  .panel-body{
    height: 150px;
  }
  .wrap{
    margin-right: 20px;
  }
  .panel-footer{
    background: none;
    padding: 15px 20px;
  }
}
.section-title{
  text-align: center;
  font-size: 30px;
  margin: 20px 0 60px;
  background-color: #ffffff;
  position: relative;
  .title{
    span{
      background-color: #ffffff;
      position: relative;
      padding: 0 20px;
      z-index: 1;
    }
    &:after{
      content: ' ';
      position: absolute;
      left: 0;
      top: 50%;
      background: #FF512F; /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #FF512F , #DD2476); /* Chrome 10-25, Safari 5.1-6 */
      background: -webkit-linear-gradient(left, #FF512F , #DD2476);
      background: linear-gradient(to right, #FF512F , #DD2476);
      height: 1px;
      width: 50%;
      left: 25%;
    }
  }
}

#contributors{
  padding-bottom: 30px;
}

.contributor {

  position: relative;
  display: inline-block;
  overflow: hidden;

  p {
    display: inline;
    span {
      color: #ffffff;
      font-weight: 200;
      position: absolute;
      display: inline-block;
      right: -25px;
      box-shadow: 0px 0px 10px rgba(0,0,0,0.2), inset 0px 5px 30px rgba(255,255,255,0.2);
      text-align: center;
      text-transform: uppercase;
      top: 6px;
      background: #d93131;
      width: 100px;
      padding: 3px 10px;
      -webkit-transform: rotate(45deg);
         -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
           -o-transform: rotate(45deg);
              transform: rotate(45deg);
    }
  }
  .contributor-image {
    width: 195px;
    margin: 0 auto;
    display: inherit;
    margin-bottom: 30px;
  }
}

@-webkit-keyframes move {
  0%{
    background-position: center center;
  }
  50%{
    background-position: 3000px center;
  }
  100%{
    background-position: center center;
  }
}

@keyframes move {
  0%{
    background-position: center center;
  }
  50%{
    background-position: 3000px center;
  }
  100%{
    background-position: center center;
  }
}
.footer {
  background: none;
  background-color: #F9F9F9;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -1;
  height: 300px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  p {
    float: none;
    font-size: 20px;
    margin-bottom: 80px;
    .fa-heart {
      color: #EA355B;
    }
  }
}

@media screen and (max-width: 768px) {
  .navbar{
    .container{
      text-align: center;
      width: 100%;
    }
    &.shrink{
      height: 100px;
    }
    img{
      margin-bottom: 10px;
    }
  }
  a.fancy{
    margin: 0 30px;
  }
}
