<title><%= current_page.data.title || "OSS at Indix" %></title>
<meta name="author" content="Indix">
<meta name="description" content="Open source projects and contributors at Indix">

<meta name="twitter:card" value="summary_large_image">
<meta name="twitter:site" value="@Indix">
<meta name="twitter:creator" value="@Indix">
<meta name="twitter:title" content="OSS at Indix">
<meta name="twitter:description" content="Open source projects and contributors at Indix">
<meta name="twitter:image" content="http://oss.indix.com/images/social_logo.png">
