---
title: Indix OSS
---

<div>
  <div class="jumbotron" id="jumbotron">
    <div class="container text-center">
      <h1>We solve some hard problems at Indix.</h1>
      <p>We use a lot of open source tools, and love contributing back to the community.</p>
    </div>
  </div>
</div>
