---
title: Indix OSS
---

<div>
  <div class="jumbotron" id="jumbotron">
    <div class="container text-center">
      <h2>We solve some hard problems at Indix.</h2>
      <p>We use a lot of open source tools, and love contributing back to the community.</p>
    </div>
  </div>
  <div class="container">
    <% panel_row column_class: 'col-sm-4' do %>
      <% data.projects.each do |project| %>
        <%= panel title: project %>
      <% end %>
    <% end %>
  </div>
</div>
